<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-coffee"></i> daily spendings rate</span>
                <div class="count">{{vm.daily_spendings_rate}} <small>DH</small></div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{vm.daily_spendings_rate_change}} DH </i> From last Day</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-clock-o"></i> weekly spendings rate</span>
                <div class="count">{{ vm.weekly_spendings_rate }} <small>DH</small></div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ vm.weekly_spendings_rate_change }} DH </i> From last Week</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-long-arrow-up"></i> mounthly spendings rate</span>
                <div class="count green"> {{ vm.mounthly_spendings_rate }} <small>DH</small></div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> {{ vm.mounthly_spendings_rate_change }} DH </i> From last Month</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-long-arrow-down"></i> mounthly incomes rate</span>
                <div class="count"> {{ vm.mounthly_incomes_rate }}  <small>DH</small></div>
                <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>{{ vm.mounthly_incomes_rate_change }} DH </i> From last Month</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-magnet"></i> </span>
                <div class="count"> {{ vm.mounthly_savings_rate }} <small>DH</small></div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ vm.mounthly_savings_rate_change }} DH </i> From last Month</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-money"></i> balance</span>
                <div class="count">{{ vm.balance }} <small>DH</small></div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ vm.balance_change }} DH </i> From last Week</span>
            </div>
        </div>
    </div>
    <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cash flow of <small> YEAR {{ vm.cash_flow_data.year }} </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="square graph-key-color"
                        style="background-color: {{ vm.incomes_background_color }};
                               border: 1px solid {{ vm.outcomes_border_color }}; " >
                        </li>
                        <li class="square graph-key-name">
                            : Incomes
                        </li>
                        <li class="square graph-key-color"
                        style="background-color: {{ vm.outcomes_background_color }};
                               border: 1px solid {{ vm.outcomes_border_color }}; " >
                        </li>
                        <li class="square graph-key-name">
                            : Outcomes
                        </li>
                        <li><a class="collapse-link" collapse-link ><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- {{vm | json }} -->
                    <canvas id="lineChart" chart="{{vm.cash_flow_linechart}}" ng-if="!vm.loading"  height="70" ></canvas>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cash flow of <small> YEAR {{ vm.cash_flow_data.year }} </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="square graph-key-color" style="background-color: {{ vm.incomes_simple_color }} " >
                        </li>
                        <li class="square graph-key-name">
                            : Incomes
                        </li>
                        <li class="square graph-key-color" style="background-color: {{ vm.outcomes_simple_color }}; " >
                        </li>
                        <li class="square graph-key-name">
                            : Outcomes
                        </li>
                        <li><a class="collapse-link" collapse-link ><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <canvas id="mybarChart" chart="{{vm.cash_flow_barchart}}" ng-if="!vm.loading" height="70"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- footer content -->
    <page-footer></page-footer>
    <!-- /footer content -->
</div>
