<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List of Money boxes <small>{{vm.items_count}} items</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="example" class="table table-striped responsive-utilities jambo_table" >
                            <thead>
                                <tr class="headings">
                                    <th>
                                        <input type="checkbox" class="tableflat" icheck  table-check=".a-center input">
                                    </th>
                                    <th>Name </th>
                                    <th>Location </th>
                                    <th>Amount </th>
                                    <th>Parent group </th>
                                    <th>Created at </th>
                                    <th>Updated at </th>
                                    <th class=" no-link last"><span class="nobr">Action</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="{{ $even ? 'even' : 'odd' }} pointer" ng-repeat="money_boxe in vm.items" role="row" js-data-table="vm.datatables_options">
                                    <td class="a-center ">
                                        <input type="checkbox" class="tableflat" icheck table-check>
                                    </td>
                                    <td >{{ money_boxe.name }}</td>
                                    <td breadcrumbs="{{ money_boxe.location }}"><i class="fa fa-angle-right"></td>
                                    <td > {{ money_boxe.amount }} </td>
                                    <td  breadcrumbs="{{ money_boxe.parent_group }}"></td>
                                    <td > {{ money_boxe.created_at }} </td>
                                    <td class="a-right a-right ">  {{ money_boxe.updated_at }} </td>
                                    <td class=" last">
                                        <a href="#" ng-click="vm.edit()"><i class="fa fa-edit"></i></a>
                                        <a href="#" title=""><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />

        </div>
    </div>
    <!-- footer content -->
    <page-footer></page-footer>
    <!-- /footer content -->
</div>