<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List of Money trackers <small>{{ vm.items_count}} items</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- <pre id="default-spacing">{{ vm | json }}</pre> -->
                        <table id="example"    class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th>
                                        <input type="checkbox" class="tableflat" icheck table-check=".a-center input" >
                                    </th>
                                    <th>From </th>
                                    <th>To </th>
                                    <th>Amount </th>
                                    <th>Scheduled </th>
                                    <th>next scheduled transaction </th>
                                    <th>Created at </th>
                                    <th>Updated at </th>
                                    <th class=" no-link last"><span class="nobr">Action</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="{{ $even ? 'even' : 'odd' }} pointer" ng-repeat="transaction in vm.items" role="row" js-data-table="vm.datatables_options">
                                    <td class="a-center ">
                                        <input type="checkbox" class="tableflat" icheck table-check>
                                    </td>
                                    <td breadcrumbs="{{ transaction.from }}" ></td>
                                    <td breadcrumbs="{{ transaction.to }}" ></td>
                                    <td > {{ transaction.amount }} </td>
                                    <td > {{ transaction.scheduled || "-" }} </td>
                                    <td class="a-right a-right "> {{ transaction.next_scheduled_tran  || "-" }} </td>
                                    <td class=" "> {{ transaction.created_at }} </td>
                                    <td class="a-right a-right "> {{ transaction.updated_at }} </td>
                                    <td class=" last">
                                        <a href="#" ng-click="vm.edit(transaction)"><i class="fa fa-edit"></i></a>
                                        <a href="#" title=""><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />

        </div>
    </div>
    <about></about>
    <!-- footer content -->
    <page-footer></page-footer>
    <!-- /footer content -->
    <!-- <script type="text/ng-template" id="myModalContent">
    <div ng-include="transactionsList.edit.modal.html" ></div>
    </script> -->
</div>