<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Make new transaction <small><i> {{ vm.made_transactions }} </i> transactions are made this month</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Money amount <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="mt-money" required="required" class="form-control col-md-7 col-xs-12">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">From <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="select2_group form-control" required="required" select2>
                                        <optgroup label="Money Boxes">
                                            <option value="Bank account">Bank account</option>
                                            <option selected value="Wallet">Wallet</option>
                                        </optgroup>
                                        <optgroup label="Money Trackers">
                                            <option value="Books">Books</option>
                                            <option value="Traveling">Traveling</option>
                                            <option value="Clothes">Clothes</option>
                                            <option value="Phone">Phone</option>
                                            <option value="Computer">Computer</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">To <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="select2_group form-control" required="required" select2>
                                        <optgroup label="Money Boxes">
                                            <option value="Bank account">Bank account</option>
                                            <option value="Wallet">Wallet</option>
                                        </optgroup>
                                        <optgroup label="Money Trackers">
                                            <option selected value="Books">Books</option>
                                            <option value="Traveling">Traveling</option>
                                            <option value="Clothes">Clothes</option>
                                            <option value="Phone">Phone</option>
                                            <option value="Computer">Computer</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Every </label>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <select class="select2_group form-control" required="required" select2>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <select class="select2_group form-control" required="required" select2>
                                        <option value="month">month(s)</option>
                                        <option value="week">week(s)</option>
                                        <option value="day">day(s)</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="row">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">On </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <select class="select2_group form-control" required="required" select2>
                                                <option value="1">1 </option>
                                                <option value="2">2 </option>
                                                <option value="3">3 </option>
                                            </select>
                                        </div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">At </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <select class="select2_group form-control" required="required" select2>
                                                <option value="1">1 </option>
                                                <option value="2">2 </option>
                                                <option value="3">3 </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>



        <!-- /page content -->

        <!-- footer content -->
        <page-footer></page-footer>
        <!-- /footer content -->

    </div>
</div>
